<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-SemiBoldItalic.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to your photo library to upload wall images.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_BwvrPq9WJ-BZ41RqYdYf-g_c8ObuhTk</string>
	<key>SUPABASE_URL</key>
	<string>https://tntsouylpzkwaqubvtac.supabase.co</string>
</dict>
</plist>
